
[class*="col-"] {
    /* debug */
    background-color:rgb(0, 140, 255) ;
    min-height: 50px;
    border: 1px solid white;
    padding: 10px;
   
}

.row > div{
    color: white;
    text-align: center;
    vertical-align: 50px;
}
.col-green{
    background-color: rgb(47, 255, 78);
    border: 1px solid rgb(0, 140, 255) ;
}
.spazio{
    margin: 10px 0;
}